*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem;
}

header{
    width: 100%;
    height: 6.5rem;
    display: grid;
    align-content: center;
    text-align: center;
    margin-bottom: 2rem;
    h1{
        font-size: 4rem;
        color: #45556c;
        span{
            font-weight: 400;
            text-decoration: underline;
            text-decoration-thickness: 0.3rem;
            text-decoration-color: #62748e;
            text-underline-offset: 0.4rem;
            color: #62748e;
        }
    }
}

main{
    width: 90%;
    max-width: 92rem;
    margin: 0 auto;
}

table.container-phones{
    width: 100%;
    thead{
        background-color:#314158;
        color:#f8fafc;
        tr{
            th{
                font-size: 1.6rem;
                text-align: center;
                padding: 0.8rem;
            }
        }
    }
    tbody{
        tr{
            background-color:#f1f5f9;
            color: #45556c;
            padding: 1rem;
            td{
                font-size: 1.4rem;
                text-align: center;
                padding: 0.8rem;
            }
        }
    }
}

div.container-forms{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
}

section.search-id,
section.add-article{
    margin: 4rem 0;
    h2{ 
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
    input#input-search-id{
        border-radius: 0.8rem;
        padding: 1.2rem;
        border: 0.1rem solid #314158;
        font-size: 1.4rem;
    }
    button#button-search-id{
        padding: 1.2rem 4rem;
        border-radius: 0.8rem;
        font-size: 1.4rem;
        border: 0.1rem solid #314158;
        color: #f8fafc;
        background-color: #314158;
        cursor: pointer;
    }
    form.search-form,
    form.add-article-form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 2rem;
        gap: 1.2rem;
        label{
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            gap: 0.4rem;
        }
        input{
            padding: 1.2rem;
            border-radius: 0.8rem;
            border: 0.1rem solid #314158;
        }
    }
    div.form-actions{
        display: flex;
        gap: 0.8rem;
        justify-content: flex-end;
        button{
            width: 50%;
            padding: 1.2rem;
            border: none;
            color: #f8fafc;
            border-radius: .8rem;
            font-size: 1.4rem;
            font-weight: 600;
            cursor: pointer;
        }
        #button-update{
            background-color: #45556c;
        }
        #button-delete{
            background-color: #ec003f;
        }
        #button-add{
            background-color: #45556c;
        }
    }
}